<html>
    <head>
        <title>Groups</title>
    </head>

    <body>

    <p color="red">{{ error }}</p>

    <form action="/groupsAuth" method="POST">
        <input type="text" name="groupName" placeholder="Enter the group name here:" required/>
        <br>
        <input type="radio" name="groupOption" value="create" checked>Create Group
        <br>
        <input type="radio" name="groupOption" value="join">Join Group NOTE: FORMAT TO JOIN IS AS FOLLOWS: <i>&lt;groupName>;&lt;groupOwner></i> 
        <br>
        <input type="radio" name="groupOption" value="leave">Leave Group
        <br>
        <input type="radio" name="groupOption" value="delete">Delete Group
        <br>
        <input type="submit" value="submit">
    </form>


    <h1>Groups you are a member of</h1>
    
    <p>
    Groups you are an owner of will appear in <b>bold</b>
    </p>
    
    <p>
        {% if message %}
            {{ message }}
        {% else %}
            {% for member in data %}
                {% if member[ "groupOwner" ] == username %}
                    <b>{{ member[ "groupName" ] }}</b><br>
                {% elif member[ "username" ] == username %}
                    {{ member[ "groupName" ] }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>
    </body>

</html>