<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='images.css')}}" >

<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery</h1>
        <table style="width: 100%">
        {#
        for every photoID and its corresponding followers,
        get photo ( with filepath ) and iterate through followers
        to print individual follower
        #}
            {% for photoID, data in images.items( ) %}
                <tr>
                    <td>
                        <img src="/image/{{data[0]}}" width="200"/>
                    </td>
                    <td>
                        By: {{ data[ 2 ] }} ({{ data[ 1 ] }})
                    </td>
                    <td>
                        Uploaded on: {{ data[ 3 ] }}
                    </td>
                    <td> 
                        {% if data[ 6 ] %}
                            {{ data[ 6 ] }}
                        {% endif %}
                    </td>
                    <td>
                        {#
                        if user liked the photo, show "unlike photo"
                        else, if the user doesnt like the photo, then show "like photo"
                        #}
                        {% if data[ 5 ] %}
                            <a href="/images?photoID={{photoID}}&option=unlike">Unlike Photo</a>
                        {% else %}
                            <a href="/images?photoID={{photoID}}&option=like">Like Photo</a>
                        {% endif %}
                    </td>
                    <td><ul>
                        {% for follower in data[ 4 ] %}
                            <li>{{ follower }}</li>    
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endfor %}
        </table>
        <a href="/">Go back</a>
    </body>
</html>